{{> header }}

{{#if isDisplayTitleEnabled}}
    <h1> {{ title }} </h1>
    <p>Yebfjvsjf</p>

    {{else}}
    <p>No title found!</p>
{{/if}}




<h2>Welcome to my about section</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores illum minus doloribus omnis hic aliquid, placeat neque quas ut fugit dolores iure nobis facilis voluptas optio nam quasi sequi nesciunt.</p>


{{> footer }}